{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
FREE SHIPPING BAR
----------------------------------------------------------------------------------------------------------------------

Renders the free shipping bar component. It is used on cart page and cart drawer to render the remaining amount before
being eligible for free shipping.

********************************************
Supported variables
********************************************

* size: accept the value "sm"
{%- endcomment -%}

{%- liquid
  assign calculated_total_price = 0

  for line_item in cart.items
    if line_item.requires_shipping
      assign calculated_total_price = calculated_total_price | plus: line_item.final_line_price
    endif
  endfor

  # We have to remove the cart level discount from the calculated amount

  assign total_cart_discount = 0

  for discount_application in cart.cart_level_discount_applications
    assign total_cart_discount = total_cart_discount | plus: discount_application.total_allocated_amount
  endfor

  assign calculated_total_price = calculated_total_price | minus: total_cart_discount
-%}

{%- if cart.requires_shipping -%}
  <free-shipping-bar class="free-shipping-bar" threshold="{{ settings.cart_free_shipping_threshold | times: 100.0 }}" total-price="{{ calculated_total_price }}" reached-message="{{ 'cart.free_shipping_bar.limit_reached_html' | t | escape }}" unreached-message="{{ 'cart.free_shipping_bar.limit_unreached_html' | t | escape }}" helper-message-template="{{ 'cart.free_shipping_bar.limit_unreached_html' | t: remaining_amount: '[[amount]]' | strip_html | escape }}">
    <span class="free-shipping-bar__status">
      <span class="free-shipping-bar__reached-icon" aria-hidden="true">
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.98315 15.2535L1.73036 15.8523C1.27176 16.0721 0.724515 15.9807 0.361801 15.6243C-0.000913887 15.267 -0.102221 14.7216 0.109447 14.2594L0.68654 12.9967C0.687444 12.994 0.688349 12.9922 0.689253 12.9895L1.75206 10.6658C1.75297 10.6649 1.75387 10.663 1.75387 10.6612L3.86053 6.05436C3.87862 5.96753 3.91842 5.89607 3.97269 5.84089C4.04777 5.76401 4.1536 5.71607 4.2938 5.71064C4.42676 5.70612 4.60404 5.74411 4.81481 5.83275C5.50226 6.11949 6.63202 6.95619 7.77622 8.0805C8.91954 9.20484 9.77613 10.3201 10.0746 11.0021C10.1669 11.211 10.2076 11.3883 10.2049 11.5213C10.2022 11.6606 10.156 11.7682 10.0801 11.8451C10.0258 11.8994 9.95614 11.9401 9.8693 11.9609L5.29971 14.1453C5.2979 14.1462 5.29609 14.1471 5.29519 14.148L2.98955 15.2506C2.98774 15.2516 2.98495 15.2526 2.98315 15.2535ZM0.954292 13.4942L0.518312 14.4457C0.386251 14.737 0.449567 15.0789 0.677509 15.3032C0.904546 15.5266 1.24826 15.5845 1.5368 15.4461L2.48112 14.9948C2.22423 14.7687 1.96102 14.5244 1.6969 14.2657C1.43279 14.0061 1.18404 13.7465 0.954292 13.4942ZM2.00898 11.1858L1.15781 13.0473C1.41741 13.3395 1.70415 13.6416 2.01259 13.9446C2.32012 14.2476 2.62675 14.5289 2.92345 14.7831L4.77051 13.8994C4.31461 13.5412 3.81894 13.1052 3.31965 12.615C2.82036 12.1238 2.37623 11.6363 2.00898 11.1858ZM4.02336 6.78085L3.3124 8.33482C3.71131 8.97071 4.40235 9.80286 5.25713 10.6432C6.11191 11.4835 6.95583 12.1601 7.59889 12.5472L9.14019 11.81C8.44642 11.4889 7.36823 10.6785 6.27743 9.60571C5.18567 8.53294 4.35622 7.46823 4.02336 6.78085ZM3.0917 8.81785L2.21884 10.7273C2.59964 11.2131 3.08357 11.7512 3.63443 12.294C4.18619 12.8358 4.73343 13.3097 5.2255 13.6824L7.11958 12.777C6.49185 12.3618 5.72027 11.7295 4.94149 10.9643C4.16359 10.1991 3.51775 9.43836 3.0917 8.81785ZM9.75436 11.5169C9.75436 11.5052 9.75526 11.4916 9.75436 11.4807C9.74622 11.3993 9.71366 11.2989 9.663 11.1831C9.37807 10.5319 8.55224 9.47448 7.46048 8.40164C6.36872 7.32797 5.29776 6.52112 4.64101 6.24795C4.52433 6.1982 4.42392 6.16745 4.34251 6.16112C4.33075 6.16021 4.31718 6.16112 4.30542 6.16202L4.29819 6.1774C4.29819 6.18644 4.29819 6.19639 4.29909 6.20544C4.30633 6.28684 4.33889 6.38634 4.39045 6.50304C4.67538 7.1543 5.50121 8.21169 6.59207 9.28453C7.68382 10.3573 8.75571 11.1641 9.41153 11.4382C9.52912 11.4871 9.62862 11.5187 9.71094 11.5241C9.71908 11.525 9.72903 11.525 9.73808 11.5241L9.75436 11.5169ZM12.7493 8.96791C11.2361 8.6088 10.1253 8.99776 10.1253 8.99776C10.0086 9.03936 9.88019 8.97786 9.83858 8.86117C9.79697 8.74358 9.85757 8.61514 9.97516 8.57353C9.97516 8.57353 11.1592 8.14841 12.7828 8.51383C12.8859 8.2886 13.113 8.13213 13.3771 8.13213C13.738 8.13213 14.0302 8.42519 14.0302 8.7852C14.0302 9.1461 13.738 9.43917 13.3771 9.43917C13.0795 9.43917 12.828 9.24018 12.7493 8.96791ZM13.1736 8.78519C13.1736 8.89826 13.264 8.98961 13.3771 8.98961C13.4892 8.98961 13.5806 8.89826 13.5806 8.78519C13.5806 8.67303 13.4892 8.58167 13.3771 8.58167C13.264 8.58167 13.1736 8.67303 13.1736 8.78519ZM5.54739 5.08742C5.55553 5.21134 5.46055 5.31807 5.33663 5.3262C5.21271 5.33344 5.10598 5.23937 5.09875 5.11545C5.09875 5.11545 5.05262 4.37193 4.74146 3.7071C4.56869 3.33714 4.3136 2.98709 3.92104 2.83424C3.66054 2.73384 3.34214 2.72298 2.95319 2.83876C2.49639 2.97534 2.33088 3.39594 2.42767 3.70621C2.48375 3.8844 2.63752 4.01555 2.8736 3.99927C2.98034 3.99203 3.05089 3.96218 3.0916 3.91153C3.19743 3.77766 3.13411 3.56961 3.13411 3.56961C3.10336 3.4493 3.17662 3.32719 3.29692 3.29644C3.41722 3.26659 3.54025 3.33895 3.57009 3.45925C3.57009 3.45925 3.67231 3.90338 3.44346 4.19102C3.34034 4.32037 3.17663 4.42891 2.90436 4.44792C1.76014 4.52661 1.54666 2.7899 2.82477 2.4082C3.3313 2.25715 3.74468 2.28428 4.08297 2.41453C4.58679 2.60991 4.92779 3.04317 5.14941 3.51625C5.49585 4.25796 5.54739 5.08742 5.54739 5.08742ZM6.75402 5.31446C6.7106 5.43023 6.58126 5.48993 6.46548 5.44742C6.34879 5.404 6.28909 5.27466 6.33161 5.15797C6.33161 5.15797 6.37321 5.04581 6.4311 4.85134C6.46638 4.73194 6.59211 4.6641 6.7115 4.70029C6.82999 4.73556 6.89783 4.86129 6.86256 4.97978C6.79924 5.19144 6.75402 5.31446 6.75402 5.31446ZM7.08057 4.09606C7.05614 4.21817 6.93765 4.29687 6.81645 4.27335C6.69434 4.24892 6.61474 4.13133 6.63916 4.00923C6.81012 3.13998 6.92139 1.92519 6.49353 0.936436C6.44378 0.822465 6.49625 0.690404 6.61022 0.640665C6.72419 0.59182 6.85715 0.644283 6.90599 0.758253C7.37182 1.83192 7.266 3.15083 7.08057 4.09606ZM10.5558 10.3581C10.4409 10.4052 10.3098 10.35 10.2627 10.2351C10.2148 10.1202 10.27 9.98907 10.3849 9.94204C10.3849 9.94204 11.5409 9.47983 12.4001 9.98817C12.7746 10.2107 13.103 10.6105 13.2504 11.316C13.2757 11.4381 13.1979 11.5566 13.0758 11.5829C12.9546 11.6082 12.8352 11.5304 12.8099 11.4083C12.6959 10.8646 12.459 10.5472 12.1704 10.3753C11.4821 9.96738 10.5558 10.3581 10.5558 10.3581ZM7.83128 6.27063C7.73359 6.34752 7.59157 6.33124 7.51469 6.23355C7.43782 6.13586 7.455 5.99476 7.55268 5.91786C7.55268 5.91786 8.76022 4.95363 9.20887 2.69039C9.23329 2.56828 9.35178 2.48958 9.47389 2.514C9.59509 2.53752 9.67469 2.65601 9.65027 2.77812C9.16272 5.23473 7.83128 6.27063 7.83128 6.27063ZM9.56527 0.622668C9.92166 0.622668 10.2057 0.903064 10.2057 1.24318C10.2057 1.58237 9.92164 1.86369 9.56527 1.86369C9.20888 1.86369 8.92487 1.58239 8.92487 1.24318C8.92487 0.90399 9.2089 0.622668 9.56527 0.622668ZM9.56527 1.07222C9.46306 1.07222 9.37441 1.14549 9.37441 1.24317C9.37441 1.33996 9.46306 1.41323 9.56527 1.41323C9.66748 1.41323 9.75522 1.33996 9.75522 1.24317C9.75522 1.14549 9.66748 1.07222 9.56527 1.07222ZM9.50919 8.132C9.39341 8.17632 9.26315 8.11753 9.21974 8.00175C9.17542 7.88506 9.23421 7.75481 9.34999 7.7114C9.34999 7.7114 9.44949 7.67431 9.63402 7.61552C9.75251 7.57753 9.87915 7.64356 9.91625 7.76115C9.95424 7.87964 9.88821 8.00628 9.76971 8.04427C9.60056 8.09764 9.50919 8.132 9.50919 8.132ZM10.5774 7.81903C10.4571 7.84888 10.335 7.7747 10.3061 7.6544C10.2762 7.53319 10.3504 7.41198 10.4707 7.38213C11.557 7.11802 13.339 6.8159 15.3642 6.99862C15.7776 7.03571 16.03 6.99591 16.1638 6.90093C16.2163 6.86294 16.2308 6.81319 16.2109 6.76887C16.1738 6.68385 16.0689 6.62053 15.9594 6.65671C15.8418 6.6956 15.7143 6.63138 15.6754 6.51289C15.6365 6.3953 15.7007 6.26776 15.8183 6.22886C16.1313 6.12574 16.4361 6.27771 16.5799 6.50655C16.6867 6.67569 16.7075 6.88283 16.6071 7.06555C16.5483 7.1741 16.4434 7.27902 16.2697 7.3532C16.0734 7.43732 15.7695 7.48707 15.3245 7.44727C13.3598 7.26998 11.6313 7.56304 10.5774 7.81903ZM8.8118 7.14243C8.72225 7.22836 8.57934 7.22474 8.49341 7.1352C8.40838 7.04565 8.41109 6.90273 8.50155 6.8168C8.50155 6.8168 8.9312 6.40706 9.48567 5.73137C9.56346 5.63549 9.70547 5.62101 9.80136 5.70061C9.89814 5.7784 9.91171 5.92041 9.83302 6.0172C9.25863 6.7173 8.8118 7.14243 8.8118 7.14243ZM10.402 5.2809C10.3287 5.3813 10.1876 5.40392 10.0872 5.33065C9.98678 5.25829 9.96417 5.11718 10.0374 5.01677C10.6607 4.15838 11.3155 3.06299 11.6529 1.8935C11.6873 1.7741 11.8121 1.70536 11.9315 1.73973C12.05 1.7741 12.1197 1.89893 12.0853 2.01832C11.7334 3.23942 11.0523 4.38454 10.402 5.2809ZM12.2816 1.09917C12.2644 1.22219 12.1513 1.30902 12.0283 1.29184C11.9053 1.27555 11.8184 1.16158 11.8356 1.03856C11.8718 0.770827 11.8881 0.501269 11.8791 0.23171C11.8754 0.107789 11.9731 0.00376788 12.097 0.000150918C12.221 -0.00437167 12.325 0.0933165 12.3286 0.217238C12.3386 0.512106 12.3214 0.807013 12.2816 1.09917ZM11.0587 6.25044C10.9727 6.33908 10.8298 6.3418 10.7403 6.25587C10.6516 6.16994 10.6489 6.02702 10.7348 5.93838C10.7348 5.93838 11.8167 4.80953 13.7912 4.3654C13.9124 4.33826 14.0336 4.41424 14.0608 4.53544C14.0879 4.65665 14.0119 4.77696 13.8907 4.8041C12.0636 5.21565 11.0587 6.25044 11.0587 6.25044ZM14.7474 4.66843C14.6235 4.68019 14.514 4.58883 14.5023 4.46581C14.4905 4.34189 14.5819 4.23245 14.7058 4.22068C14.8994 4.20259 15.1002 4.19174 15.3073 4.18903C15.4321 4.18722 15.5335 4.28762 15.5353 4.41154C15.5371 4.53546 15.4376 4.63767 15.3137 4.63858C15.1183 4.64129 14.9301 4.65124 14.7474 4.66843Z" fill="black"/>
        </svg>
      </span>
      {%- comment -%}The span below is the placeholder where the content will be inserted in JS{%- endcomment -%}
      <span class="free-shipping-bar__message">&nbsp;</span>
    </span>

    <progress-bar class="progress-bar" role="progressbar" aria-valuemin="0" style="--progress: 0"></progress-bar>

    <div class="free-shipping-bar__helper" style="display: none;">
      <span class="free-shipping-bar__helper-text"></span>
      <span class="free-shipping-bar__helper-amount"></span>
    </div>
  </free-shipping-bar>
{%- endif -%}