{%- assign rating_text = block.settings.rating_text | default: '4.7 out of 5 (based on 400+ reviews)' -%}
{%- capture trustpilot_clip_id -%}rating-trustpilot-clip-{{ product.id }}-{{ section.id }}{%- endcapture -%}

<a href="#shopify-product-reviews" class="rating rating--trustpilot" title="{{ rating_text }}" {{ block.shopify_attributes }}>
  <span class="rating__trustpilot-stars" role="img" aria-label="{{ rating_text }}">
    <svg width="79" height="15" viewBox="0 0 79 15" fill="none" focusable="false">
      <g clip-path="url(#clip0_8_204_{{ trustpilot_clip_id }})">
        <path d="M29.506 14.2771H17.1325C16.609 14.2771 16.1807 13.8488 16.1807 13.3253V0.951803C16.1807 0.428309 16.609 -3.8147e-06 17.1325 -3.8147e-06H29.506C30.0295 -3.8147e-06 30.4578 0.428309 30.4578 0.951803V13.3253C30.4578 13.8488 30.0295 14.2771 29.506 14.2771Z" fill="#579F78"/>
        <path d="M27.7928 6.04398C27.6976 5.80603 27.5072 5.61567 27.2693 5.56808L24.9374 5.23494L23.938 3.18856C23.7476 2.85542 23.3193 2.76024 22.9861 2.95061C22.891 2.9982 22.7958 3.09338 22.7482 3.18856L21.7012 5.28253L19.4169 5.61567C19.0361 5.66326 18.7982 5.99639 18.8458 6.37711C18.8458 6.51988 18.941 6.66265 19.0361 6.75783L20.7018 8.37591L20.3211 10.6602C20.2735 11.041 20.5114 11.3741 20.8922 11.4217C21.0349 11.4693 21.1777 11.4217 21.3205 11.3741L23.3669 10.2795L25.4133 11.3265C25.7464 11.5169 26.1271 11.3741 26.3175 11.041C26.3651 10.8982 26.4127 10.7554 26.3651 10.6127L25.9843 8.32832L27.65 6.71024C27.7928 6.56747 27.8404 6.28193 27.7928 6.04398Z" fill="white"/>
      </g>
      <g clip-path="url(#clip1_8_204_{{ trustpilot_clip_id }})">
        <path d="M45.6868 14.2771H33.3133C32.7898 14.2771 32.3615 13.8488 32.3615 13.3253V0.951803C32.3615 0.428309 32.7898 -3.8147e-06 33.3133 -3.8147e-06H45.6868C46.2102 -3.8147e-06 46.6386 0.428309 46.6386 0.951803V13.3253C46.6386 13.8488 46.2102 14.2771 45.6868 14.2771Z" fill="#579F78"/>
        <path d="M43.9735 6.04398C43.8783 5.80603 43.688 5.61567 43.45 5.56808L41.1181 5.23494L40.1187 3.18856C39.9283 2.85542 39.5 2.76024 39.1669 2.95061C39.0717 2.9982 38.9765 3.09338 38.9289 3.18856L37.8819 5.28253L35.5976 5.61567C35.2169 5.66326 34.9789 5.99639 35.0265 6.37711C35.0265 6.51988 35.1217 6.66265 35.2169 6.75783L36.8825 8.37591L36.5018 10.6602C36.4542 11.041 36.6922 11.3741 37.0729 11.4217C37.2157 11.4693 37.3584 11.4217 37.5012 11.3741L39.5476 10.2795L41.594 11.3265C41.9271 11.5169 42.3078 11.3741 42.4982 11.041C42.5458 10.8982 42.5934 10.7554 42.5458 10.6127L42.1651 8.32832L43.8307 6.71024C43.9735 6.56747 44.0211 6.28193 43.9735 6.04398Z" fill="white"/>
      </g>
      <g clip-path="url(#clip2_8_204_{{ trustpilot_clip_id }})">
        <path d="M61.8675 14.2771H49.494C48.9705 14.2771 48.5422 13.8488 48.5422 13.3253V0.951803C48.5422 0.428309 48.9705 -3.8147e-06 49.494 -3.8147e-06H61.8675C62.391 -3.8147e-06 62.8193 0.428309 62.8193 0.951803V13.3253C62.8193 13.8488 62.391 14.2771 61.8675 14.2771Z" fill="#579F78"/>
        <path d="M60.1542 6.04398C60.059 5.80603 59.8687 5.61567 59.6307 5.56808L57.2988 5.23494L56.2994 3.18856C56.109 2.85542 55.6807 2.76024 55.3476 2.95061C55.2524 2.9982 55.1572 3.09338 55.1096 3.18856L54.0627 5.28253L51.7783 5.61567C51.3976 5.66326 51.1596 5.99639 51.2072 6.37711C51.2072 6.51988 51.3024 6.66265 51.3976 6.75783L53.0633 8.37591L52.6825 10.6602C52.6349 11.041 52.8729 11.3741 53.2536 11.4217C53.3964 11.4693 53.5392 11.4217 53.6819 11.3741L55.7283 10.2795L57.7747 11.3265C58.1078 11.5169 58.4886 11.3741 58.6789 11.041C58.7265 10.8982 58.7741 10.7554 58.7265 10.6127L58.3458 8.32832L60.0114 6.71024C60.1542 6.56747 60.2018 6.28193 60.1542 6.04398Z" fill="white"/>
      </g>
      <g clip-path="url(#clip3_8_204_{{ trustpilot_clip_id }})">
        <path d="M78.0482 14.2771H65.6747C65.1512 14.2771 64.7229 13.8488 64.7229 13.3253V0.951803C64.7229 0.428309 65.1512 -3.8147e-06 65.6747 -3.8147e-06H78.0482C78.5717 -3.8147e-06 79 0.428309 79 0.951803V13.3253C79 13.8488 78.5717 14.2771 78.0482 14.2771Z" fill="#579F78"/>
        <path d="M76.3349 6.04398C76.2398 5.80603 76.0494 5.61567 75.8115 5.56808L73.4795 5.23494L72.4801 3.18856C72.2898 2.85542 71.8615 2.76024 71.5283 2.95061C71.4331 2.9982 71.338 3.09338 71.2904 3.18856L70.2434 5.28253L67.959 5.61567C67.5783 5.66326 67.3404 5.99639 67.388 6.37711C67.388 6.51988 67.4831 6.66265 67.5783 6.75783L69.244 8.37591L68.8633 10.6602C68.8157 11.041 69.0536 11.3741 69.4343 11.4217C69.5771 11.4693 69.7199 11.4217 69.8627 11.3741L71.909 10.2795L73.9554 11.3265C74.2886 11.5169 74.6693 11.3741 74.8596 11.041C74.9072 10.8982 74.9548 10.7554 74.9072 10.6127L74.5265 8.32832L76.1922 6.71024C76.335 6.56747 76.3825 6.28193 76.3349 6.04398Z" fill="white"/>
      </g>
      <g clip-path="url(#clip4_8_204_{{ trustpilot_clip_id }})">
        <path d="M13.3253 14.2771H0.951807C0.428313 14.2771 0 13.8488 0 13.3253V0.951807C0 0.428313 0.428313 0 0.951807 0H13.3253C13.8488 0 14.2771 0.428313 14.2771 0.951807V13.3253C14.2771 13.8488 13.8488 14.2771 13.3253 14.2771Z" fill="#579F78"/>
        <path d="M11.612 6.04398C11.5169 5.80603 11.3265 5.61567 11.0886 5.56808L8.75663 5.23495L7.75723 3.18856C7.56687 2.85543 7.13856 2.76025 6.80542 2.95061C6.71024 2.9982 6.61506 3.09338 6.56747 3.18856L5.52048 5.28254L3.23615 5.61567C2.85542 5.66326 2.61747 5.99639 2.66506 6.37712C2.66506 6.51989 2.76024 6.66266 2.85542 6.75784L4.52109 8.37591L4.14036 10.6602C4.09277 11.041 4.33072 11.3741 4.71145 11.4217C4.85422 11.4693 4.99699 11.4217 5.13976 11.3741L7.18615 10.2795L9.23253 11.3265C9.56566 11.5169 9.94639 11.3741 10.1367 11.041C10.1843 10.8982 10.2319 10.7554 10.1843 10.6127L9.80362 8.32832L11.4693 6.71025C11.6121 6.56748 11.6596 6.28193 11.612 6.04398Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_8_204_{{ trustpilot_clip_id }}"><rect width="14.2771" height="14.2771" fill="white" transform="translate(16.1807 -3.8147e-06)"/></clipPath>
        <clipPath id="clip1_8_204_{{ trustpilot_clip_id }}"><rect width="14.2771" height="14.2771" fill="white" transform="translate(32.3615 -3.8147e-06)"/></clipPath>
        <clipPath id="clip2_8_204_{{ trustpilot_clip_id }}"><rect width="14.2771" height="14.2771" fill="white" transform="translate(48.5422 -3.8147e-06)"/></clipPath>
        <clipPath id="clip3_8_204_{{ trustpilot_clip_id }}"><rect width="14.2771" height="14.2771" fill="white" transform="translate(64.7229 -3.8147e-06)"/></clipPath>
        <clipPath id="clip4_8_204_{{ trustpilot_clip_id }}"><rect width="14.2771" height="14.2771" fill="white"/></clipPath>
      </defs>
    </svg>
  </span>
  <span class="text-sm">{{ rating_text }}</span>
</a>
